* {
    font-family: 'Montserrat', serif;
}

@keyframes something {
    from {
        padding-top: 20px;
        color: transparent;}
    to {
        padding-top: 0px;
        color: darkslategrey;}
}

.title {
    color: darkslategrey;
    animation-name: something;
    animation-duration: 1s;
}